/settings.xml
/.project
/webapps/ROOT/WEB-INF/railo/cfclasses/*.*
/webapps/ROOT/WEB-INF/railo/logs/*.*
/webapps/ROOT/WEB-INF/railo/temp/graph/*.*
/log/*.*
/railo-server/context/monitor/*.*

/railo-server/context/monitor/memory.bin
/log/access.log